{
  "debug": true,
  "branches": [
    "main"
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer", 
      { "preset": "conventionalcommits" }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "docs/CHANGELOG.md"
      }
    ],
    "semantic-release-yarn",
    [
      "@semantic-release/git",
      {
        "message": "chore(no-release): new version ${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          { "path": "dist" }
        ]
      }
    ]
  ]
}
